# Node
node_modules
package-lock.json

# Angular
/sage_page/dist/
/sage_page/node_modules
/sage_page/.idea
/sage_page/.vscode
/sage_page/.angular
.angular

# Express
/backend/node_modules
/backend/.idea
/backend/dist
tmp
.idea
.DS_Store
