<div class="bot-input-container">
  <mat-form-field class="bot-form-wrapper">
    <mat-label>Bot input field</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      [(ngModel)]="value"
      (keydown.enter)="submit($event)"
      placeholder=""></textarea>
    <button matSuffix mat-icon-button (click)="submit($event)" class="hamburger" style="padding-top: 10px">
      <span class="material-symbols-outlined">send</span>
    </button>
    <button matSuffix mat-icon-button [matMenuTriggerFor]="queryOptions" class="hamburger" style="padding-top: 10px">
      <span class="material-symbols-outlined">more_vert</span>
    </button>
  </mat-form-field>
</div>
<mat-menu #queryOptions="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="queries">Queries</button>
  <button mat-menu-item (click)="prefillQuery('add context', query)">Add context</button>
  <button mat-menu-item (click)="prefillQuery('add outline', query)">Add outline (under the hood)</button>
</mat-menu>
<mat-menu #queries="matMenu">
  <button
    mat-menu-item
    *ngFor="let query of queryHistory"
    (click)="prefillQuery('add query', query)"
    class="mat-menu-item">
    {{ query }}
  </button>
</mat-menu>
