<!--<div mat-button style="display: inline" class="hamburger">-->
<!--  &lt;!&ndash;  (click)="sidenav.toggle()"&ndash;&gt;-->
<!--  <span class="material-symbols-outlined" style="display: inline">menu</span>-->
<!--</div>-->
<button mat-menu-item [matMenuTriggerFor]="contentMenu" fxLayoutAlign="end center" class="menu-button">
  <span class="material-symbols-outlined">more_vert</span>
</button>
<mat-menu #contentMenu="matMenu">
  <button mat-menu-item *ngIf="!hideEditorContent" (click)="createSection('above')">Create Section Above</button>
  <button mat-menu-item *ngIf="!hideEditorContent" (click)="createSection('below')">Create Section Below</button>
  <button mat-menu-item [matMenuTriggerFor]="changeSymbol">Change Symbol</button>
  <button mat-menu-item (click)="editSection()">Edit Section</button>
  <button mat-menu-item (click)="saveContent()">Save Section</button>
  <button mat-menu-item *ngIf="!hideEditorContent" (click)="deleteSection()">Delete Section</button>
</mat-menu>
<mat-menu #changeSymbol="matMenu">
  <ng-container *ngFor="let symbol of symbols">
    <button mat-menu-item (click)="changeSymbolTo(symbol)">{{ symbol }}</button>
  </ng-container>
</mat-menu>
