<!-- TODO Overhaul the interface! -->
<form [formGroup]="form">
  <div fxFill fxLayout="column" fxLayoutAlign="center" class="bot-window-container">
    <!--    fxLayoutGap="20px"-->
    <mat-form-field class="model-container">
      <mat-label>ChatGPT Model Select</mat-label>
      <mat-select formControlName="modelControl">
        <mat-option *ngFor="let selectModel of models" [value]="selectModel.id">
          {{ selectModel.id }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex class="bot-text-window" #scrollMe>
      <div *ngFor="let logEntry of log" #chat style="margin-top: 20px">
        <div fxFlexLayout="row" fxLayoutGap="5px" class="header-functions">
          <div>
            <h2 fxFlex="none">{{ logEntry.role }}</h2>
          </div>
          <div
            fxFlex
            class="function-button"
            [matTooltip]="!contentSectionSelected ? 'Please select a file or section' : ''">
            <button
              fxFlex
              (click)="sendSelection(logEntry)"
              mat-stroked-button
              [disabled]="!contentSectionSelected"
              color="primary"
              class="function-button">
              <mat-icon>keyboard_double_arrow_left</mat-icon>
              <span>Send to PKM</span>
            </button>
          </div>
          <div fxFlex class="function-button">
            <button fxFlex (click)="selectAll(logEntry)" mat-stroked-button color="primary" class="function-button">
              <mat-icon>done_all</mat-icon>
              <span>Select All</span>
            </button>
          </div>
          <div fxFlex class="function-button">
            <button fxFlex mat-stroked-button (click)="clearSelection(logEntry)" color="warn" class="function-button">
              <mat-icon>close</mat-icon>
              <span>Clear All</span>
            </button>
          </div>
        </div>
        <div class="content-container" *ngFor="let section of logEntry.content">
          <app-content-section [contentSection]="section" [hideEditorContent]="true"></app-content-section>
        </div>
      </div>
    </div>
    <app-query-input
      class="query-input"
      fxLayoutAlign="center end"
      (query)="sendQuery($event)"
      [queryHistory]="getQueries()"></app-query-input>
  </div>
</form>
