:host {
  display: flex;
  height: calc(100vh - 84px);
  width: 100%;
}
.bot-window-container {
  width: 100%;
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.bot-text-window {
  height: 100%;
  overflow: auto;
  //margin: 5px 10px;
}

form {
  width: 100%;
}
.bot-form-wrapper {
  width: 100%;
}

.function-button {
  width: 100%;
}

//::ng-deep .mat-mdc-menu-item {
//  height: auto !important; // query history buttons
//  width: 600px !important;
//}
//
//::ng-deep .mat-mdc-menu-panel {
//  height: auto !important; // query history buttons
//  width: 600px !important;
//  max-width: 600px !important;
//}
