.file-tree ul,
.file-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

mat-tree-node {
  //padding-left: 20px;
  min-height: 20px;
  z-index: 2;
  position: relative;
}

.small-icon {
  font-size: 18px;
}

.mat-tree-node,
::ng-deep .mat-mdc-focus-indicator,
::ng-deep .mat-mdc-button-touch-target {
  height: 24px !important;
  min-height: 24px !important;
}
::ng-deep .mat-mdc-button-touch-target {
  width: 24px !important;
}
::ng-deep button {
  height: 24px;
  width: 24px;
}
.icon-spacing {
  //padding-right: 5px;
  pointer-events: none;
  z-index: 1;
}

.file-tree ul,
.file-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.file-tree .mat-nested-tree-node div[role="group"] {
  padding-left: 20px;
}

.current-node {
  background-color: var(--mat-standard-button-toggle-selected-state-background-color);
}
