<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="file-tree">
  <mat-button-toggle-group>
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <ng-container *ngIf="isValid(node)">
        <div
          class="mat-tree-node"
          [attr.name]="node.name"
          (click)="nodeSelect(node)"
          appHighlight
          [isSelected]="node.selected">
          <button mat-button>
            <span class="small-icon material-symbols-outlined" style="font-size: 18px">
              {{ getSectionSymbol(node) }}
            </span>
          </button>
          <span class="material-symbols-outlined icon-spacing">{{
            getIcon(node) // node.type == "folder" ? "folder" : "description"
          }}</span>
          <span class="node-name">{{ node.name }}</span>
        </div>
      </ng-container>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasSub">
      <ng-container *ngIf="isValid(node)">
        <div
          class="mat-tree-node nested-tree-node"
          [attr.name]="node.name"
          (click)="nodeSelect(node)"
          appHighlight
          [isSelected]="node.selected">
          <button mat-button matTreeNodeToggle>
            <span class="small-icon material-symbols-outlined" style="font-size: 18px">
              {{ getSectionSymbol(node) }}
            </span>
          </button>
          <span class="material-symbols-outlined icon-spacing">{{
            getIcon(node) // node.type == "folder" ? "folder" : "description"
          }}</span>
          <span class="nested-name">{{ node.name }}</span>
          <span class="material-symbols-outlined icon-spacing">
            {{ node.content?.length > 0 ? "article" : "" }}
          </span>
        </div>
        <div *ngIf="!treeControl.isExpanded(node)" role="group">
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </ng-container>
    </mat-nested-tree-node>
  </mat-button-toggle-group>
</mat-tree>
<pre style="max-width: 500px; white-space: pre-wrap">data: {{ this.dataSource?.data | json }}</pre>
<!--<pre style="max-width: 500px; white-space: pre-wrap">curr: {{ curr | json }}</pre>-->
