mat-button-toggle, p, code {
  width: 100%;
  text-align: left;
}
pre {
  line-height: 20px;
}
p {
  white-space: normal;
  line-height: 20px;
}
code {
  display: inline-flex;
}
pre, p {
  margin: 0 0px;
}
.lock-icon {
  line-height: 20px;
  padding-top: 5px;
}
//.content-text {
//  display: inline-flex;
//  align-items: flex-start;
//  white-space: normal;
//  text-align: left;
//  line-height: normal;
//}
//.content-menu-button {
//  align-self: flex-end;
//  display: inline;
//}
.content-section  {
  display: inline;
  flex-direction: row;
}
.content-text {
  display: inline;
  white-space: normal;
  line-height: normal;
  text-align: left;
}
.content-menu-button {
  flex: none;
  display: inline;
  align-self: flex-end;
}
