mat-button-toggle, p, code {
  width: 100%;
  text-align: left;
}
pre {
  line-height: 20px;
}
p {
  white-space: normal;
  line-height: 20px;
}
code {
  display: inline-flex;
}
pre, p {
  margin: 0 0px;
}
.lock-icon {
  line-height: 20px;
  padding-top: 5px;
}
