mat-toolbar {
  height: 64px;
}

.sidenav-container {
  height: calc(100% - 64px);
}

::ng-deep .icon-spacing {
  font-size: 16px;
  line-height: 20px;
}

.app-title {
  padding-top: 10px;
}
.bot-input-container {
  width: 100%;
}

.mat-sidenav {
  background-color: var(--mat-sidenav-content-background-color);
}
