<mat-toolbar fxFlex class="mat-toolbar">
  <button mat-icon-button mat-stroked matTooltip="File" [matMenuTriggerFor]="fileMenu">
    <span class="material-symbols-outlined"> folder </span>
  </button>
  <mat-menu #fileMenu>
    <button mat-menu-item>New</button>
    <button mat-menu-item>Open</button>
    <button mat-menu-item>Open recent</button>
    <button mat-menu-item>Save</button>
    <button mat-menu-item>Save as...</button>
    <button mat-menu-item>Rename</button>
    <button mat-menu-item>Export</button>
  </mat-menu>
  <button mat-icon-button matTooltip="Save: Warning, saving will do file generation" (click)="saveFile()">
    <span class="material-symbols-outlined"> save </span>
  </button>
  <button mat-icon-button matTooltip="Select all">
    <span class="material-symbols-outlined"> check_circle </span>
  </button>
  <button (click)="copyAll()" mat-icon-button matTooltip="Copy all">
    <span class="material-symbols-outlined"> copy_all </span>
  </button>
  <button (click)="copySelected()" mat-icon-button matTooltip="Copy selected">
    <span class="material-symbols-outlined"> content_copy </span>
  </button>
  <button (click)="exportFile()" mat-icon-button matTooltip="Export current file to markdown">
    <span class="material-symbols-outlined"> export_notes </span>
  </button>
  <button (click)="selectAll()" mat-icon-button matTooltip="Select all">
    <span class="material-symbols-outlined"> check_circle </span>
  </button>
  <button (click)="deselectAll()" mat-icon-button matTooltip="Unselect all">
    <span class="material-symbols-outlined"> radio_button_unchecked </span>
  </button>
  <button (click)="deleteSelected()" mat-icon-button matTooltip="Delete selected sections">
    <span class="material-symbols-outlined"> delete </span>
  </button>
</mat-toolbar>
