<!--<p>settings-popover works!</p>-->
<button
  [matMenuTriggerFor]="settingsMenu"
  style="border-width: 0px"
  mat-stroked-button>
  <mat-icon>settings</mat-icon>
</button>
<mat-menu
  #settingsMenu="matMenu"
  xPosition="before"
  class="settings-menu-panel">
  <mat-slide-toggle
    (click)="toggleEditorLeft()"
    [checked]="editorLeft"
    color="primary"
    >Editor left</mat-slide-toggle
  >
  <mat-slide-toggle
    (click)="toggleAdjustHeading()"
    [checked]="adjustHeadingGeneration"
    color="primary"
    >Auto adjust heading generation
    <div
      class="material-symbols-outlined icon-spacing"
      tooltip="Auto up/downgrade headings so they fit under the currently selected node. Otherwise will be removed.">
      help
    </div></mat-slide-toggle
  >
</mat-menu>
