<div class="bot-input-container">
  <mat-form-field class="bot-form-wrapper">
    <mat-label>Bot input field</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      [(ngModel)]="value"
      (keydown.enter)="submit($event)"
      placeholder=""></textarea>
    <button matSuffix mat-icon-button (click)="submit($event)" class="hamburger" style="padding-top: 10px">
      <span class="material-symbols-outlined">send</span>
    </button>
    <button matSuffix mat-icon-button [matMenuTriggerFor]="queries" class="hamburger" style="padding-top: 10px">
      <span class="material-symbols-outlined">more_vert</span>
    </button>
  </mat-form-field>
</div>
<mat-menu #queries="matMenu">
  <span mat-menu-item *ngFor="let query of queryHistory" (click)="prefillQuery($event, query)" class="mat-menu-item">
    {{ query }}
  </span>
</mat-menu>
