<div fxLayout="row" style="background: white">
  <div
    class="content-section content-text"
    appContentSection
    fxLayoutAlign="start center"
    (click)="toggleSelection()"
    [isSelected]="!!contentSection?.selected">
    {{ !contentSection.generated && !hideEditorContent ? " * " : "" }}
    <div
      #textContent
      (keydown.enter)="handleEnter($event)"
      (focusout)="handleFocusOut($event)"
      [contentEditable]="!!contentSection.editable"
      [ngStyle]="!!contentSection.editable ? { cursor: 'text' } : { cursor: 'pointer' }">
      {{ getContent() }}
    </div>
  </div>
  <app-content-toolbar
    [hideEditorContent]="hideEditorContent"
    [contentSection]="contentSection"
    (contentToolbarEvent)="handleToolbarEvent($event)"></app-content-toolbar>
</div>
