.content-section {
  cursor: pointer;
  padding: 2px 2px;
}
.content-text {
  flex-grow: 1;
  margin-right: 5px;
  white-space-collapse: break-spaces;
}
.menu-button {
  z-index: 2;
  justify-content: right;
  width: auto;
  min-height: 24px;
  padding-right: 5px;
}
