<div
  appContentSection
  fxLayout="row"
  class="content-section"
  (click)="toggleSelection()"
  [isSelected]="!!contentSection?.selected">
  <div fxLayoutAlign="start center" class="content-text">
    <div
      #textContent
      [contentEditable]="!!contentSection.editable"
      [ngStyle]="!!contentSection.editable ? { cursor: 'text' } : { cursor: 'pointer' }">
      {{ getContent() }}
    </div>
  </div>
  <app-content-toolbar
    [contentSection]="contentSection"
    (saveContentEvent)="saveContent(textContent)"></app-content-toolbar>
</div>
<!--<pre>cs:{{ contentSection | json }}</pre>-->
