:host, .content-container {
  overflow-x: auto;
}
.content-container {
  background-color: whitesmoke;
  padding: 5px 10px;
}
mat-button-toggle {
  line-height: 20px;
  white-space: normal;
}
.button-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  & code, span {
    display: inline-flex;
    line-height: 20px;
  }
}
